<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/admin_fragments::head('后台管理')"></head>
<body>

<!-- 导航 -->
<div th:replace="commons/admin_fragments::menu('博客')"></div>

<!-- 二级导航 -->
<div class="ui menu attached pointing">
    <div class="ui container">
        <div class="right menu">
            <a href="#" class="item">发布</a>
            <a href="#" class="active teal item">列表</a>
        </div>
    </div>
</div>

<!-- 中间内容 -->
<div class="m-padding-tb-large">
    <div class="ui container">
        <form action="#" method="post" class="ui segment form">
            <div class="inline fields">
                <div class="field">
                    <input type="text" name="title" placeholder="标题">
                </div>
                <div class="field">
                    <div class="ui selection dropdown">
                        <input type="hidden" name="type">
                        <i class="dropdown icon"></i>
                        <div class="default text">分类</div>
                        <div class="menu">
                            <div class="item" data-value="1">错误日志</div>
                            <div class="item" data-value="2">开发手册</div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" id="recommend" name="recommend">
                        <label for="recommend">推荐</label>
                    </div>
                </div>
                <div class="field">
                    <button class="ui basic teal button"><i class="search icon"></i>搜索</button>
                </div>
            </div>
        </form>

        <table class="ui table">
            <thead>
            <tr>
                <th></th>
                <th>标题</th>
                <th>类型</th>
                <th>推荐</th>
                <th>更新时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Java学习</td>
                <td>认知升级</td>
                <td>是</td>
                <td>2020-6-18</td>
                <td>
                    <a href="#" class="ui teal button">编辑</a>
                    <a href="#" class="ui red button">删除</a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
            <tr><th colspan="6">
                <div class="ui pagination mini menu">
                    <a class="item">上一页</a>
                    <a class="item">下一页</a>
                </div>
                <a href="new" class="ui teal basic button right floated">新增</a>
            </th>
            </tr>
            </tr>
            </tfoot>
        </table>
    </div>
</div>

<script src="../js/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.js"></script>
<script>
    $('.show').click(function(){
        $('.m-item').toggleClass('m-mobile-hide')
    });
    $('.ui.dropdown').dropdown();
</script>
</body>
</html>