<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/admin_fragments::head('博客管理')"></head>
<body>

<!-- 导航 -->
<div th:replace="commons/admin_fragments::menu('博客')"></div>

<!-- 二级导航 -->
<div class="ui menu attached pointing">
    <div class="ui container">
        <div class="right menu">
            <a href="#" th:href="@{/admin/blogs/input}" class="item">发布</a>
            <a href="#" th:href="@{/admin/blogs}" class="active teal item">列表</a>
        </div>
    </div>
</div>

<!-- 中间内容 -->
<div class="m-padding-tb-large">
    <div class="ui container">
        <div class="ui segment form">
            <input type="hidden" name="page" />
            <input type="hidden" name="id" th:value="*{id}">
            <div class="inline fields">
                <div class="field">
                    <input id="title" type="text" name="title" placeholder="标题">
                </div>
                <div class="field">
                    <div class="ui labeled action input">
                        <div class="ui type selection dropdown types">
                            <input type="hidden" name="typeId">
                            <i class="dropdown icon"></i>
                            <div class="default text">分类</div>
                            <div class="menu">
                                <div th:each="type : ${types}" class="item" data-value="1" th:data-value="${type.id}" th:text="${type.name}">错误日志</div>
                            </div>
                        </div>
                        <button id="clear" class="ui compact button">clear</button>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox types">
                        <input type="checkbox" id="recommend" name="recommend">
                        <label for="recommend">推荐</label>
                    </div>
                </div>
            </div>
        </div>

        <div id="table-container">
            <table th:fragment="blogList" class="ui table teal">
                <thead>
                <tr>
                    <th></th>
                    <th>标题</th>
                    <th>类型</th>
                    <th>推荐</th>
                    <th>状态</th>
                    <th>更新时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="blog,iterStat : ${page.content}">
                    <td th:text="${iterStat.count}">1</td>
                    <td th:text="${blog.title}">Java学习</td>
                    <td th:text="${blog.type.name}">认知升级</td>
                    <td th:text="${blog.recommend} ? '是' : '否'">是</td>
                    <td th:text="${blog.published} ? '发布' : '草稿'">发布</td>
                    <td th:text="${blog.updateTime}">2020-6-18</td>
                    <td>
                        <a href="#" th:href="@{/admin/blogs/{id}/edit(id=${blog.id})}" class="ui teal button">编辑</a>
                        <a href="#" th:href="@{/admin/blogs/{id}/delete(id=${blog.id})}" class="ui red button">删除</a>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                <tr><th colspan="7">
                    <div class="ui pagination mini menu" th:if="${page.totalPages} > 1">
                        <a onclick="page(this)" th:attr="data-page=${page.number}-1" class="item" th:unless="${page.first}">上一页</a>
                        <a onclick="page(this)" th:attr="data-page=${page.number}+1" class="item" th:unless="${page.last}">下一页</a>
                    </div>
                    <a href="#" th:href="@{/admin/blogs/input}" class="ui teal basic button right floated">新增</a>
                </th>
                </tr>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<script src="../js/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.js"></script>
<script th:inline="javascript">
    $('.show').click(function(){
        $('.m-item').toggleClass('m-mobile-hide')
    });
    $('.ui.dropdown').dropdown();

    function page(obj) {
        $("[name='page']").val($(obj).data("page"));
        loaddata();
    }
    $("#title").keyup(function () {
        $("[name='page']").val(0);
        loaddata();
    });
    $(".types").change(function () {
        $("[name='page']").val(0);
        loaddata();
    });
    $('#clear').on('click', function () {
        $('.type.ui.dropdown')
        .dropdown('clear')
    });

    function loaddata(){
        $("#table-container").load(/*[[@{/admin/blogs/search}]]*/"/admin/blogs/search", {
            title: $("[name='title']").val(),
            typeId: $("[name='typeId']").val(),
            recommend: $("[name='recommend']").prop('checked'),
            page: $("[name='page']").val()
        });
    }
</script>
</body>
</html>