<!DOCtag html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/admin_fragments::head('标签管理')"></head>
<body>

<!-- 导航 -->
<div th:replace="commons/admin_fragments::menu('标签')"></div>

<!-- 二级导航 -->
<div class="ui menu attached pointing">
    <div class="ui container">
        <div class="right menu">
            <a href="#" th:href="@{/admin/tags/input}" class="item">新增</a>
            <a href="#" th:href="@{/admin/tags}" class="active teal item">列表</a>
        </div>
    </div>
</div>

<!-- 中间内容 -->
<div class="m-padding-tb-large">
    <div class="ui container">
        <table class="ui table">
            <thead>
            <tr>
                <th></th>
                <th>名称</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="tag,iterStst : ${page.content}">
                    <td th:text="${iterStst.count}">1</td>
                    <td th:text="${tag.name}">类型1</td>
                    <td>
                        <a href="#" th:href="@{/admin/tags/{id}/edit(id=${tag.id})}" class="ui teal button">编辑</a>
                        <input type="hidden" name="_method" value="delete" />
                        <a href="#" th:href="@{/admin/tags/{id}/delete(id=${tag.id})}" class="ui red button">删除</a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
            <tr>
            <tr><th colspan="3">
                <div class="ui pagination mini menu" th:if="${page.totalPages}>1">
                    <a th:href="@{/admin/tags(page=${page.number}-1)}" class="item" th:unless="${page.first}">上一页</a>
                    <a th:href="@{/admin/tags(page=${page.number}+1)}" class="item" th:unless="${page.last}">下一页</a>
                </div>
                <a href="#" th:href="@{/admin/tags/input}" class="ui teal basic button right floated">新增</a>
            </th>
            </tr>
            </tr>
            </tfoot>
        </table>
    </div>
</div>

<script src="/js/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.js"></script>
<script>
    $('.show').click(function(){
        $('.m-item').toggleClass('m-mobile-hide')
    });
    $('.ui.dropdown').dropdown();
</script>
</body>
</html>