<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[[${title}]]</title>
    <link rel="stylesheet" href="/css/me.css" th:href="@{/css/me.css}">
    <link rel="stylesheet" href="/css/typo.css" th:href="@{/css/typo.css}">
    <link rel="stylesheet" href="/lib/editormd/css/editormd.css" th:href="@{/lib/editormd/css/editormd.css}" />
    <link rel="stylesheet" href="/lib/tocbot/tocbot.css" th:href="@{/lib/tocbot/tocbot.css}">
    <link rel="stylesheet" href="/lib/prism/prism.css" th:href="@{/lib/prism/prism.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.css">
</head>
<body>

<!-- 导航 -->
<nav th:fragment="menu(index)" class="ui inverted attached segment m-padding-tb-mini m-shadow-small" id="header">
    <div class="ui container m-container-large">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item m-header">Yonmin</h2>
            <a href="/" th:href="@{/}" class="m-item item m-mobile-hide" th:classappend="${index=='首页'} ? 'active'"><i class="home icon"></i>首页</a>
            <a href="types" th:href="@{/types/-1}" class="m-item item m-mobile-hide" th:classappend="${index=='分类'} ? 'active'"><i class="idea icon"></i>分类</a>
            <a href="tags" th:href="@{/tags/-1}" class="m-item item m-mobile-hide" th:classappend="${index=='标签'} ? 'active'"><i class="tags icon"></i>标签</a>
            <a href="archives" th:href="@{/archives}" class="m-item item m-mobile-hide" th:classappend="${index=='归档'} ? 'active'"><i class="clone icon"></i>归档</a>
            <a href="about" th:href="@{/about}" class="m-item item m-mobile-hide" th:classappend="${index=='关于我'} ? 'active'"><i class="info icon"></i>关于我</a>
            <div class="right item m-item m-mobile-hide m-margin-tb-small">
                <form name="search" target="_blank" th:action="@{/search}" method="post">
                    <div id="blog-container" class="ui icon inverted transparent input">
                        <input id="query" name="query" type="text" placeholder="Search..." th:value="${query}">
                        <i onclick="document.forms['search'].submit()" class="search link icon"></i>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <a href="#" class="ui button black icon m-top-right m-mobile-show show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!-- 底部footer -->
<footer th:fragment="footer" id="footer" class="ui inverted vertical segment m-padding-tb-massive">
    <div class="ui center aligned container m-container-large">
        <div class="ui grid stackable inverted divided">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="/images/wechat.jpg" class="ui rounded image" style="width: 110px">
                    </div>
                </div>
            </div>

            <div class="three wide column">
                <h4 class="ui inverted header m-opacity-mini">最新博客</h4>
                <div class="newblog-container">
                    <div class="ui inverted link list" th:fragment="newbloglist">
                        <a href="#" th:href="@{/blog/{id}(id=${newblog.id})}" class="item" th:each="newblog : ${newblogs}" th:text="${newblog.title}">用户故事</a>
                    </div>
                </div>
            </div>

            <div class="three wide column">
                <h4 class="ui inverted header m-opacity-mini">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Email: 2083198401@qq.com</a>
                    <a href="#" class="item">WeChat：YonminMa</a>
                    <a href="#" class="item">QQ：2083198401</a>
                </div>
            </div>

            <div class="seven wide column">
                <h4 class="ui inverted header m-opacity-mini">Blog</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">这是我的个人博客、分享关于编程、写作、思考相关的任何内容，希望可以给来这儿的人一点帮助。。。</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2012-2020 Yonmin. All Rights Reserved.</p>
    </div>

</footer>

</body>
</html>