<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:divth="http://www.w3.org/1999/xlink">
<head th:replace="commons/fragments::head('关于我')"></head>
<body>

<!-- 导航 -->
<div th:replace="commons/fragments::menu('关于我')"></div>



<!-- 中间内容 -->
<div class="m-padding-tb-massive">
    <div class="ui container">
        <div class="ui stackable grid">
            <div class="eleven wide column">
                <img src="images/me.jpg" alt="" class="ui rounded image">
            </div>
            <div class="five wide column">
                <div class="ui top attached segment">
                    <h1 class="ui header">About me</h1>
                </div>
                <div class="ui attached segment">
                    <p>一个热爱编程的人</p>
                </div>
                <div class="ui buttom attached segment">
                    <a href="https://github.com/YonminMa" class="ui button circular icon"><i class="github big icon m-black"></i></a>
                    <a href="https://me.csdn.net/weixin_44547562" class="ui button circular icon"><i class="qq big icon m-black"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 底部footer -->
<div th:replace="commons/fragments::footer"></div>

<script src="js/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.js"></script>
<script>
    $('.show').click(function(){
        $('.m-item').toggleClass('m-mobile-hide')
    });
    $(document).ready(function(){
        let contentHeight = document.body.offsetHeight,
            winHeight = document.body.scrollHeight;
        if(!((contentHeight) < winHeight)){
            $("#footer").addClass("fixed-bottom");
        }
    });
</script>
</body>
</html>