<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/fragments::head('归档')"></head>
<body>

<!-- 导航 -->
<div th:replace="commons/fragments::menu('归档')"></div>



<!-- 中间内容 -->
<div class="m-padding-tb-massive">
    <div class="ui container">
        <!-- header -->
        <div class="ui top attached segment m-fontsize-larger">
            <div class="ui middle aligned two column grid">
                <div class="column m-padding-tb">
                    <h3 class="ui teal header">归档</h3>
                </div>
                <div class="right aligned column">
                    共 <h2 class="ui orange header m-inline-block m-text-thin" th:text="${blogCount}">30</h2> 篇博客
                </div>
            </div>
        </div>
        <!-- list -->
        <th:block th:each="item : ${archiveMap}">
            <h3 class="ui header center aligned" th:text="${item.key}">2020</h3>
            <div class="ui fluid vertical menu">
                <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" class="item" th:each="blog : ${item.value}">
                    <span>
                        <i class="teal circle icon m-icon"></i><span th:text="${blog.title}">SpringBoot搭建个人博客系统</span>
                        <div class="ui basic teal label m-padding-tiny m-margin-lr m-mobile-hide" th:text="${#dates.format(blog.getcreateTime(), 'yyyy-MM-dd')}">9月03日</div>
                    </span>
                    <div class="ui orange basic label m-mobile-hide" th:text="${blog.flag}">原创</div>
                </a>
            </div>
        </th:block>
    </div>
</div>

<!-- 底部footer -->
<div th:replace="commons/fragments::footer"></div>

<script src="js/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.js"></script>
<script>
    $('.show').click(function(){
        $('.m-item').toggleClass('m-mobile-hide')
    });
    $(document).ready(function(){
        let contentHeight = document.body.offsetHeight,
            winHeight = document.body.scrollHeight;
        if(!((contentHeight) < winHeight)){
            $("#footer").addClass("fixed-bottom");
        }
    });
    $('.newblog-container').load(/*[[@{/footer/newblogs}]]*/"/footer/newblogs")
</script>
</body>
</html>