<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments::head('首页')"></head>
<body>

<!-- 导航 -->
<div th:replace="_fragments::menu('首页')"></div>


<!-- 中间内容 -->
<div class="m-padding-tb-massive">
    <div class="m-container ui container">
        <div class="ui stackable grid">

            <!-- Left banner -->
            <div class="eleven wide column">
                <!-- header -->
                <div class="ui top attached segment m-fontsize-larger">
                    <div class="ui middle aligned two column grid">
                        <div class="column m-padding-tb">
                            <h3 class="ui teal header">博客列表</h3>
                        </div>
                        <div class="right aligned column">
                            共 <h2 class="ui orange header m-inline-block m-text-thin">14</h2> 篇
                        </div>
                    </div>
                </div>
                <!-- contents -->
                <div class="ui attached segment">
                    <!-- content -->
                    <div class="ui padded vertical segment m-padding-tb-large">
                        <div class="ui mobile reversed stackable grid">
                            <div class="eleven wide column">
                                <h3 class="ui header">SpringBoot搭建博客系统</h3>
                                <p class="m-text">SpringBoot搭建博客系统SpringBoot搭建博客系统SpringBoot搭建博客系统SpringBoot搭建博客系统SpringBoot搭建博客系统</p>
                                <div class="ui grid">
                                    <div class="eleven wide column m-padding-r-zero">
                                        <div class="ui small horizontal link list"> <!-- horizontal代表横着放置 -->
                                            <div class="item">
                                                <img src="https://tse4-mm.cn.bing.net/th/id/OIP.Ie53C-X76KBg5Yr5rf6JbgHaDe?w=318&h=164&c=7&o=5&pid=1.7"
                                                     alt="Yonmin" class="ui avatar image">
                                                <div class="content"><a href="#">YonminMa</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon m-icon"></i>2020-7-28
                                            </div>
                                            <div class="item">
                                                <i class="eye icon m-icon"></i>218
                                            </div>
                                        </div>
                                    </div>
                                    <div class="five wide column center aligned middle aligned">
                                        <a href="#" class="ui teal basic label m-padding-mini m-text-thin">认知升级</a>
                                    </div>
                                </div>
                            </div>

                            <div class="five wide column">
                                <a href="#" target="_blank">
                                    <img src="https://tse4-mm.cn.bing.net/th/id/OIP.Ie53C-X76KBg5Yr5rf6JbgHaDe?w=318&h=164&c=7&o=5&pid=1.7" alt="" class="ui centered round image">
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- content -->
                    <div class="ui padded vertical segment m-padding-tb-large">
                        <div class="ui mobile reversed stackable grid">
                            <div class="eleven wide column">
                                <h3 class="ui header">SpringBoot搭建博客系统</h3>
                                <p class="m-text">SpringBoot搭建博客系统SpringBoot搭建博客系统SpringBoot搭建博客系统SpringBoot搭建博客系统SpringBoot搭建博客系统</p>
                                <div class="ui grid">
                                    <div class="eleven wide column m-padding-r-zero">
                                        <div class="ui small horizontal link list"> <!-- horizontal代表横着放置 -->
                                            <div class="item">
                                                <img src="https://tse4-mm.cn.bing.net/th/id/OIP.Ie53C-X76KBg5Yr5rf6JbgHaDe?w=318&h=164&c=7&o=5&pid=1.7"
                                                     alt="Yonmin" class="ui avatar image">
                                                <div class="content"><a href="#">YonminMa</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon m-icon"></i>2020-7-28
                                            </div>
                                            <div class="item">
                                                <i class="eye icon m-icon"></i>218
                                            </div>
                                        </div>
                                    </div>
                                    <div class="five wide column center aligned middle aligned">
                                        <a href="#" class="ui teal basic label m-padding-mini m-text-thin">认知升级</a>
                                    </div>
                                </div>
                            </div>

                            <div class="five wide column">
                                <a href="#" target="_blank">
                                    <img src="https://tse4-mm.cn.bing.net/th/id/OIP.Ie53C-X76KBg5Yr5rf6JbgHaDe?w=318&h=164&c=7&o=5&pid=1.7" alt="" class="ui centered round image">
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- content -->
                    <div class="ui padded vertical segment m-padding-tb-large">
                        <div class="ui mobile reversed stackable grid">
                            <div class="eleven wide column">
                                <h3 class="ui header">SpringBoot搭建博客系统</h3>
                                <p class="m-text">SpringBoot搭建博客系统SpringBoot搭建博客系统SpringBoot搭建博客系统SpringBoot搭建博客系统SpringBoot搭建博客系统</p>
                                <div class="ui grid">
                                    <div class="eleven wide column m-padding-r-zero">
                                        <div class="ui small horizontal link list"> <!-- horizontal代表横着放置 -->
                                            <div class="item">
                                                <img src="https://tse4-mm.cn.bing.net/th/id/OIP.Ie53C-X76KBg5Yr5rf6JbgHaDe?w=318&h=164&c=7&o=5&pid=1.7"
                                                     alt="Yonmin" class="ui avatar image">
                                                <div class="content"><a href="#">YonminMa</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon m-icon"></i>2020-7-28
                                            </div>
                                            <div class="item">
                                                <i class="eye icon m-icon"></i>218
                                            </div>
                                        </div>
                                    </div>
                                    <div class="five wide column center aligned middle aligned">
                                        <a href="#" class="ui teal basic label m-padding-mini m-text-thin">认知升级</a>
                                    </div>
                                </div>
                            </div>

                            <div class="five wide column">
                                <a href="#" target="_blank">
                                    <img src="https://tse4-mm.cn.bing.net/th/id/OIP.Ie53C-X76KBg5Yr5rf6JbgHaDe?w=318&h=164&c=7&o=5&pid=1.7" alt="" class="ui centered round image">
                                </a>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- footer -->
                <div class="ui segment attached">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <a href="#" class="ui button mini teal basic">上一页</a>
                        </div>
                        <div class="right aligned column">
                            <a href="#" class="ui button mini teal basic">下一页</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Right banner -->
            <div class="five wide column">
                <!-- classify -->
                <div class="ui segments">
                    <div class="ui segment secondary">
                        <div class="ui two column grid m-fontsize-medium">
                            <div class="column"><i class="idea icon"></i>分类</div>
                            <div class="right aligned column">
                                <a href="#">more <i class="angle double right icon"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="ui segment">
                        <div class="ui vertical menu fluid">
                            <a href="#" class="item">
                                学习日志
                                <div class="ui teal basic label">13</div>
                            </a>
                            <a href="#" class="item">
                                学习日志
                                <div class="ui teal basic label">13</div>
                            </a>
                            <a href="#" class="item">
                                学习日志
                                <div class="ui teal basic label">13</div>
                            </a>
                            <a href="#" class="item">
                                学习日志
                                <div class="ui teal basic label">13</div>
                            </a>
                            <a href="#" class="item">
                                学习日志
                                <div class="ui teal basic label">13</div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- label -->
                <div class="ui segments m-margin-top-large">
                    <div class="ui segment secondary">
                        <div class="ui two column grid m-fontsize-medium">
                            <div class="column"><i class="tags icon"></i>标签</div>
                            <div class="right aligned column">
                                <a href="#">more <i class="angle double right icon"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="ui segment">
                        <a href="#" class="ui teal left pointing basic label m-margin-tb-mini">
                            Java <div class="detail">23</div>
                        </a>
                        <a href="#" class="ui teal left pointing basic label m-margin-tb-mini">
                            Java <div class="detail">23</div>
                        </a>
                        <a href="#" class="ui teal left pointing basic label m-margin-tb-mini">
                            Java <div class="detail">23</div>
                        </a>
                        <a href="#" class="ui teal left pointing basic label m-margin-tb-mini">
                            Java <div class="detail">23</div>
                        </a>
                        <a href="#" class="ui teal left pointing basic label m-margin-tb-mini">
                            Java <div class="detail">23</div>
                        </a>
                        <a href="#" class="ui teal left pointing basic label m-margin-tb-mini">
                            Java <div class="detail">23</div>
                        </a>
                        <a href="#" class="ui teal left pointing basic label m-margin-tb-mini">
                            Java <div class="detail">23</div>
                        </a>
                        <a href="#" class="ui teal left pointing basic label m-margin-tb-mini">
                            Java <div class="detail">23</div>
                        </a>

                    </div>
                </div>
                <!-- recommend -->
                <div class="ui segments m-margin-top-large">
                    <div class="ui secondary segment m-fontsize-medium"><i class="bookmark icon"></i>最新推荐</div>
                    <div class="ui segment">
                        <a href="#" class="m-black">Java虚拟机学习笔记（一）</a>
                    </div>
                    <div class="ui segment">
                        <a href="#" class="m-black">Java虚拟机学习笔记（一）</a>
                    </div>
                    <div class="ui segment">
                        <a href="#" class="m-black">Java虚拟机学习笔记（一）</a>
                    </div>
                    <div class="ui segment">
                        <a href="#" class="m-black">Java虚拟机学习笔记（一）</a>
                    </div>
                    <div class="ui segment">
                        <a href="#" class="m-black">Java虚拟机学习笔记（一）</a>
                    </div>
                </div>
                <!-- code -->
                <h4 class="ui horizontal divider header m-margin-top-large">扫码关注我</h4>
                <div class="ui card centered"  style="width: 12em">
                    <img src="images/wechatgzh.jpg" alt="" class="ui rounded image">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 底部footer -->
<div th:replace="_fragments::footer"></div>

<script src="js/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.js"></script>
<script>
    $('.show').click(function(){
        $('.m-item').toggleClass('m-mobile-hide')
    });
    $(document).ready(function(){
        let contentHeight = document.body.offsetHeight,
            winHeight = document.body.scrollHeight;
        if(!((contentHeight) < winHeight)){
            $("#footer").addClass("fixed-bottom");
        }
    });
</script>
</body>
</html>