<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/fragments::head('标签页')"></head>
<body>

<!-- 导航 -->
<div th:replace="commons/fragments::menu('标签')"></div>



<!-- 中间内容 -->
<div class="m-padding-tb-massive">
    <div class="ui container m-container">
        <!-- header -->
        <div class="ui top attached segment m-fontsize-larger">
            <div class="ui middle aligned two column grid">
                <div class="column m-padding-tb">
                    <h3 class="ui teal header">标签</h3>
                </div>
                <div class="right aligned column">
                    共 <h2 class="ui orange header m-inline-block m-text-thin" th:text="${#arrays.length(tags)}">14</h2> 个
                </div>
            </div>
        </div>
        <!-- list -->
        <div class="ui segment attached">
            <a href="#" th:href="@{/tags/{id}(id=${tag.id})}" class="ui basic left pointing label large m-margin-tb-mini" th:classappend="${tag.id==activeTagId} ? 'teal'" th:each="tag : ${tags}">
                <span th:text="${tag.name}">方法论</span> <div class="detail" th:text="${#arrays.length(tag.blogs)}">23</div>
            </a>
        </div>
        <!-- contents -->
        <div class="ui attached segment">
            <!-- content -->
            <div class="ui padded vertical segment m-padding-tb-large" th:each="blog : ${page.content}">
                <div class="ui mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3 class="ui header"><a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="m-black" th:text="${blog.title}">SpringBoot搭建博客系统</a></h3>
                        <p class="m-text" th:text="|${blog.description}...|">SpringBoot搭建博客系统SpringBoot搭建博客系统SpringBoot搭建博客系统SpringBoot搭建博客系统SpringBoot搭建博客系统</p>
                        <div class="ui grid">
                            <div class="row">
                                <div class="eleven wide column m-padding-r-zero">
                                    <div class="ui small horizontal link list"> <!-- horizontal代表横着放置 -->
                                        <div class="item">
                                            <img src="https://tse4-mm.cn.bing.net/th/id/OIP.Ie53C-X76KBg5Yr5rf6JbgHaDe?w=318&h=164&c=7&o=5&pid=1.7"
                                                 th:src="@{${blog.user.avatar}}" alt="Yonmin" class="ui avatar image">
                                            <div class="content"><a th:text="${blog.user.nickname}" href="#">YonminMa</a></div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon m-icon"></i><span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2020-7-28</span>
                                        </div>
                                        <div class="item">
                                            <i class="eye icon m-icon"></i><span th:text="${blog.views}">218</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="five wide column center aligned middle aligned">
                                    <a href="#" th:text="${blog.type.name}" class="ui teal basic label m-padding-mini m-text-thin">认知升级</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="column">
                                    <a href="#" th:href="@{/tags/{id}(id=${tag.id})}" th:each="tag : ${blog.tags}" th:text="${tag.name}" class="ui basic left pointing label m-padding-tb-small m-text-thin" th:classappend="${tag.id == activeTagId} ? 'teal'">标签</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="five wide column">
                        <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">
                            <div class="m-image-box">
                                <img th:src="@{${blog.firstPicture}}" src="https://tse4-mm.cn.bing.net/th/id/OIP.Ie53C-X76KBg5Yr5rf6JbgHaDe?w=318&h=164&c=7&o=5&pid=1.7" alt="" class="ui centered round image m-image">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- footer -->
        <div class="ui segment attached" th:if="${page.totalPages} > 1">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <a th:href="@{/(page=${page.number}-1)}" class="item" th:unless="${page.first}">上一页</a>
                </div>
                <div class="right aligned column">
                    <a th:href="@{/(page=${page.number}+1)}" class="item" th:unless="${page.first}">下一页</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 底部footer -->
<div th:replace="commons/fragments::footer"></div>

<script src="/js/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.js"></script>
<script>
    $('.show').click(function(){
        $('.m-item').toggleClass('m-mobile-hide')
    });
    $(document).ready(function(){
        let contentHeight = document.body.offsetHeight,
            winHeight = document.body.scrollHeight;
        if(!((contentHeight) < winHeight)){
            $("#footer").addClass("fixed-bottom");
        }
    });
    $('.newblog-container').load(/*[[@{/footer/newblogs}]]*/"/footer/newblogs")
</script>
</body>
</html>