<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>标签页</title>
    <link rel="stylesheet" href="css/me.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.css">
</head>
<body>

<!-- 导航 -->
<nav class="ui inverted attached segment m-padding-tb-mini m-shadow-small" id="header">
    <div class="ui container m-container-large">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item m-header">Yonmin</h2>
            <a href="/" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
            <a href="types" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
            <a href="tags" class="m-item active item m-mobile-hide"><i class="tags icon"></i>标签</a>
            <a href="archives" class="m-item item m-mobile-hide"><i class="clone icon"></i>归档</a>
            <a href="about" class="m-item item m-mobile-hide"><i class="info icon"></i>关于我</a>
            <div class="right item m-item m-mobile-hide m-margin-tb-small">
                <div class="ui icon inverted transparent input">
                    <input type="text" placeholder="Search...">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui button black icon m-top-right m-mobile-show show">
        <i class="sidebar icon"></i>
    </a>
</nav>



<!-- 中间内容 -->
<div class="m-padding-tb-massive">
    <div class="ui container m-container">
        <!-- header -->
        <div class="ui top attached segment m-fontsize-larger">
            <div class="ui middle aligned two column grid">
                <div class="column m-padding-tb">
                    <h3 class="ui teal header">标签</h3>
                </div>
                <div class="right aligned column">
                    共 <h2 class="ui orange header m-inline-block m-text-thin">14</h2> 个
                </div>
            </div>
        </div>
        <!-- list -->
        <div class="ui segment attached">
            <div class="ui segment labeled large button m-margin-lr m-margin-tb-small">
                <a href="#" class="ui basic teal left pointing label m-opacity-mini m-text-thin">SpringBoot</a>
            </div>
            <div class="ui segment labeled large button m-margin-lr m-margin-tb-small">
                <a href="#" class="ui basic left pointing label m-opacity-mini m-text-thin">SpringBoot</a>
            </div>
            <div class="ui segment labeled large button m-margin-lr m-margin-tb-small">
                <a href="#" class="ui basic left pointing label m-opacity-mini m-text-thin">SpringBoot</a>
            </div>
            <div class="ui segment labeled large button m-margin-lr m-margin-tb-small">
                <a href="#" class="ui basic left pointing label m-opacity-mini m-text-thin">SpringBoot</a>
            </div>
            <div class="ui segment labeled large button m-margin-lr m-margin-tb-small">
                <a href="#" class="ui basic left pointing label m-opacity-mini m-text-thin">SpringBoot</a>
            </div>
            <div class="ui segment labeled large button m-margin-lr m-margin-tb-small">
                <a href="#" class="ui basic left pointing label m-opacity-mini m-text-thin">SpringBoot</a>
            </div>
            <div class="ui segment labeled large button m-margin-lr m-margin-tb-small">
                <a href="#" class="ui basic left pointing label m-opacity-mini m-text-thin">SpringBoot</a>
            </div>
            <div class="ui segment labeled large button m-margin-lr m-margin-tb-small">
                <a href="#" class="ui basic left pointing label m-opacity-mini m-text-thin">SpringBoot</a>
            </div>
            <div class="ui segment labeled large button m-margin-lr m-margin-tb-small">
                <a href="#" class="ui basic left pointing label m-opacity-mini m-text-thin">SpringBoot</a>
            </div>
        </div>
        <!-- contents -->
        <div class="ui attached segment">
            <!-- content -->
            <div class="ui padded vertical segment m-padding-buttom-zero">
                <div class="ui mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3 class="ui header">SpringBoot搭建博客系统</h3>
                        <p class="m-text">SpringBoot搭建博客系统SpringBoot搭建博客系统SpringBoot搭建博客系统SpringBoot搭建博客系统SpringBoot搭建博客系统</p>
                        <div class="ui grid">
                            <div class="eleven wide column m-padding-r-zero">
                                <div class="ui small horizontal link list"> <!-- horizontal代表横着放置 -->
                                    <div class="item">
                                        <img src="https://tse4-mm.cn.bing.net/th/id/OIP.Ie53C-X76KBg5Yr5rf6JbgHaDe?w=318&h=164&c=7&o=5&pid=1.7"
                                             alt="Yonmin" class="ui avatar image">
                                        <div class="content"><a href="#">YonminMa</a></div>
                                    </div>
                                    <div class="item m-margin-lr-small">
                                        <i class="calendar icon m-icon"></i>2020-7-28
                                    </div>
                                    <div class="item m-margin-lr-small">
                                        <i class="eye icon m-icon"></i>218
                                    </div>
                                </div>
                            </div>
                            <div class="five wide column center aligned middle aligned">
                                <a href="#" class="ui teal basic label m-padding-mini m-text-thin m-margin-lr-zero">认知升级</a>
                            </div>
                        </div>
                    </div>

                    <div class="five wide column">
                        <a href="#" target="_blank">
                            <img src="https://tse4-mm.cn.bing.net/th/id/OIP.Ie53C-X76KBg5Yr5rf6JbgHaDe?w=318&h=164&c=7&o=5&pid=1.7" alt="" class="ui centered round image">
                        </a>
                    </div>
                </div>
            </div>
            <!-- content -->
            <div class="ui padded vertical segment m-padding-buttom-zero">
                <div class="ui mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3 class="ui header">SpringBoot搭建博客系统</h3>
                        <p class="m-text">SpringBoot搭建博客系统SpringBoot搭建博客系统SpringBoot搭建博客系统SpringBoot搭建博客系统SpringBoot搭建博客系统</p>
                        <div class="ui grid">
                            <div class="eleven wide column m-padding-r-zero">
                                <div class="ui small horizontal link list"> <!-- horizontal代表横着放置 -->
                                    <div class="item">
                                        <img src="https://tse4-mm.cn.bing.net/th/id/OIP.Ie53C-X76KBg5Yr5rf6JbgHaDe?w=318&h=164&c=7&o=5&pid=1.7"
                                             alt="Yonmin" class="ui avatar image">
                                        <div class="content"><a href="#">YonminMa</a></div>
                                    </div>
                                    <div class="item m-margin-lr-small">
                                        <i class="calendar icon m-icon"></i>2020-7-28
                                    </div>
                                    <div class="item m-margin-lr-small">
                                        <i class="eye icon m-icon"></i>218
                                    </div>
                                </div>
                            </div>
                            <div class="five wide column center aligned middle aligned">
                                <a href="#" class="ui teal basic label m-padding-mini m-text-thin m-margin-lr-zero">认知升级</a>
                            </div>
                        </div>
                    </div>

                    <div class="five wide column">
                        <a href="#" target="_blank">
                            <img src="https://tse4-mm.cn.bing.net/th/id/OIP.Ie53C-X76KBg5Yr5rf6JbgHaDe?w=318&h=164&c=7&o=5&pid=1.7" alt="" class="ui centered round image">
                        </a>
                    </div>
                </div>
            </div>
            <!-- content -->
            <div class="ui padded vertical segment m-padding-buttom-zero">
                <div class="ui mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3 class="ui header">SpringBoot搭建博客系统</h3>
                        <p class="m-text">SpringBoot搭建博客系统SpringBoot搭建博客系统SpringBoot搭建博客系统SpringBoot搭建博客系统SpringBoot搭建博客系统</p>
                        <div class="ui grid">
                            <div class="eleven wide column m-padding-r-zero">
                                <div class="ui small horizontal link list"> <!-- horizontal代表横着放置 -->
                                    <div class="item">
                                        <img src="https://tse4-mm.cn.bing.net/th/id/OIP.Ie53C-X76KBg5Yr5rf6JbgHaDe?w=318&h=164&c=7&o=5&pid=1.7"
                                             alt="Yonmin" class="ui avatar image">
                                        <div class="content"><a href="#">YonminMa</a></div>
                                    </div>
                                    <div class="item m-margin-lr-small">
                                        <i class="calendar icon m-icon"></i>2020-7-28
                                    </div>
                                    <div class="item m-margin-lr-small">
                                        <i class="eye icon m-icon"></i>218
                                    </div>
                                </div>
                            </div>
                            <div class="five wide column center aligned middle aligned">
                                <a href="#" class="ui teal basic label m-padding-mini m-text-thin m-margin-lr-zero">认知升级</a>
                            </div>
                        </div>
                    </div>

                    <div class="five wide column">
                        <a href="#" target="_blank">
                            <img src="https://tse4-mm.cn.bing.net/th/id/OIP.Ie53C-X76KBg5Yr5rf6JbgHaDe?w=318&h=164&c=7&o=5&pid=1.7" alt="" class="ui centered round image">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- footer -->
        <div class="ui buttom segment attached">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <a href="#" class="ui button mini teal basic">上一页</a>
                </div>
                <div class="right aligned column">
                    <a href="#" class="ui button mini teal basic">下一页</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 底部footer -->
<footer id="footer" class="ui inverted vertical segment m-padding-tb-massive">
    <div class="ui center aligned container m-container-large">
        <div class="ui grid stackable inverted divided">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="images/wechat.jpg" class="ui rounded image" style="width: 110px">
                    </div>
                </div>
            </div>

            <div class="three wide column">
                <h4 class="ui inverted header m-opacity-mini">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                </div>
            </div>

            <div class="three wide column">
                <h4 class="ui inverted header m-opacity-mini">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Email：2083198401@qq.com</a>
                    <a href="#" class="item">WeChat：YonminMa</a>
                    <a href="#" class="item">QQ：2083198401</a>
                </div>
            </div>

            <div class="seven wide column">
                <h4 class="ui inverted header m-opacity-mini">Blog</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">这是我的个人博客、分享关于编程、写作、思考相关的任何内容，希望可以给来这儿的人一点帮助。。。</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2012-2020 Yonmin. All Rights Reserved.</p>
    </div>

</footer>

<script src="js/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.js"></script>
<script>
    $('.show').click(function(){
        $('.m-item').toggleClass('m-mobile-hide')
    });
    $(document).ready(function(){
        let contentHeight = document.body.offsetHeight,
            winHeight = document.body.scrollHeight;
        if(!((contentHeight) < winHeight)){
            $("#footer").addClass("fixed-bottom");
        }
    });
</script>
</body>
</html>